DATABASE= yourDataBase url


# secret for encryption of jwt signature
JWT_SECRET=yoursecret

# number of rounds for Blowfish algorithm for hashing user password
BCRYPT_ROUNDS=12

# lifetime of the token (in seconds)
JWT_LIFETIME=86400

# algorithm used in token signing
JWT_ALGORITHM=HS256

# server port
PORT=5000

# Facebook credential
FACEBOOK_APP_ID= yourfacebookId
FACEBOOK_CLIENT_SECRET= yourfacebookClientSecret

# URL server
SERVER_FE=http://localhost:3000

#Mercado Pago credential

PUBLIC_KEY= your PUBLIC_KEY
ACCESS_TOKEN= your ACCESS_TOKEN

#Mail
SENDERMAIL= mail
SENDERPASS= pass
